<a href="https://colab.research.google.com/github/Harishma-Nair/Data-Visualization-using-python/blob/main/Day_5_Assignment_Plotly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) What is Plotly?

Plotly is a collaborative, web-based graphing and analytics platform.  

2)Where is Plotly used ?

It allows us to import, copy and paste or stream data to be analyzed and visualized. Mainly used in analytics and data science sector

In [23]:
#Pie chart of India's best selling car companies % values:

import plotly.express as px
import plotly.graph_objects as go
company = ['Maruti', 'Hyundai', 'Tata', 'Kia', 'Mahindra']
market_share = [50, 17.4, 7, 5.8, 5.6] 
colors = ['#ed685f', '#ed9858', '#edbe58', '#d4ed58', '#91ed58']

In [39]:
fig = px.pie(names = company, values=market_share, title= 'Indian Car Market')
fig.show()

In [70]:
#Bar chart with India covid-19 active cases 
import pandas as pd 
import plotly.express as px

In [71]:
data = pd.read_csv('covid_india.csv')   #https://www.kaggle.com/shivanshsinghal107/covid19-india-dataset
data.head()

   S. No.   Name of State / UT  ...  Deaths  Total Confirmed cases
0       1  Andaman and Nicobar  ...     128                   7492
1       2       Andhra Pradesh  ...   12946                1914213
2       3    Arunachal Pradesh  ...     185                  38682
3       4                Assam  ...    4764                 527200
4       5                Bihar  ...    9614                 722965

[5 rows x 6 columns]

In [72]:
data.isnull().sum()

S. No.                       0
Name of State / UT           0
Active Cases                 0
Cured/Discharged/Migrated    0
Deaths                       0
Total Confirmed cases        0
dtype: int64

In [73]:
data2 = data.sort_values(by = ['Active Cases'], ascending= False)

In [74]:
data2

    S. No.  ... Total Confirmed cases
19      20  ...               6131976
16      17  ...               3025466
15      16  ...               2864868
30      31  ...               2510059
1        2  ...               1914213
25      26  ...                932330
3        4  ...                527200
35      36  ...               1509218
31      32  ...                629785
20      21  ...                 75180
6        7  ...                997035
21      22  ...                 53244
32      33  ...                 69550
22      23  ...                 23014
2        3  ...                 38682
13      14  ...                318023
29      30  ...                 21795
9       10  ...                168210
27      28  ...                597195
33      34  ...               1707044
26      27  ...                118571
10      11  ...                824091
34      35  ...                341023
12      13  ...                203245
4        5  ...                722965
11      12  ...                769148
24      25  ...                 25727
8        9  ...               1434873
28      29  ...                952956
14      15  ...                346168
23      24  ...                790096
18      19  ...                  9980
17      18  ...                 20155
5        6  ...                 61794
7        8  ...                 10579
0        1  ...                  7492

[36 rows x 6 columns]

In [76]:
data3 = data2.head(10)
data3

    S. No. Name of State / UT  ...  Deaths  Total Confirmed cases
19      20        Maharashtra  ...  124296                6131976
16      17             Kerala  ...   14250                3025466
15      16          Karnataka  ...   35663                2864868
30      31         Tamil Nadu  ...   33253                2510059
1        2     Andhra Pradesh  ...   12946                1914213
25      26             Odisha  ...    4415                 932330
3        4              Assam  ...    4764                 527200
35      36        West Bengal  ...   17867                1509218
31      32          Telengana  ...    3714                 629785
20      21            Manipur  ...    1241                  75180

[10 rows x 6 columns]

In [79]:
data3 = pd.DataFrame(data3)

In [82]:
fig = px.bar(data3, x= 'Name of State / UT', y= 'Active Cases', title = 'Top 10 covid-19 active states in India', color= 'Active Cases')
fig.show( )

In [83]:
#To plot a line graph with India's active covid-19 recovery month wise (12 months)

In [90]:
df = pd.read_csv('covid_19_india.csv', delimiter="\t")
df

         Sno        Date     Time  ... Deaths Confirmed     month
0          1  30-01-2020  6:00 PM  ...      0         1   January
1          2  31-01-2020  6:00 PM  ...      0         1   January
2          3  01-02-2020  6:00 PM  ...      0         2  February
3          4  02-02-2020  6:00 PM  ...      0         3  February
4          5  03-02-2020  6:00 PM  ...      0         3  February
...      ...         ...      ...  ...    ...       ...       ...
16845  16846  07-07-2021  8:00 AM  ...   3703    628282      July
16846  16847  07-07-2021  8:00 AM  ...    701     68612      July
16847  16848  07-07-2021  8:00 AM  ...   7338    340882      July
16848  16849  07-07-2021  8:00 AM  ...  22656   1706818      July
16849  16850  07-07-2021  8:00 AM  ...  17834   1507241      July

[16850 rows x 10 columns]

In [91]:
df.isnull().sum()

Sno                         0
Date                        0
Time                        0
State/UnionTerritory        0
ConfirmedIndianNational     0
ConfirmedForeignNational    0
Cured                       0
Deaths                      0
Confirmed                   0
month                       0
dtype: int64

In [94]:
df1 = df.groupby('month')['Cured'].sum()
df1

month
April        385065633
August        58580895
December     292244085
February     297133802
January      315332019
July         227533465
June         848822379
March        342611205
May          646240106
November     246213201
October      198824412
September    118592934
Name: Cured, dtype: int64

In [95]:
df2 = pd.DataFrame(df1)
df2

               Cured
month
April      385065633
August      58580895
December   292244085
February   297133802
January    315332019
July       227533465
June       848822379
March      342611205
May        646240106
November   246213201
October    198824412
September  118592934

In [98]:
df2 = {'month': ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
       'Cured': [315332019,297133802, 342611205,385065633,646240106,848822379,227533465,58580895,118592934,198824412,246213201,	292244085 ]}
df3 = pd.DataFrame(df2)

In [99]:
df3

        month      Cured
0     January  315332019
1    February  297133802
2       March  342611205
3       April  385065633
4         May  646240106
5        June  848822379
6        July  227533465
7      August   58580895
8   September  118592934
9     October  198824412
10   November  246213201
11   December  292244085

In [104]:
fig = px.line(df3, x= 'month', y= 'Cured', title = 'covid-19 recovered cases in India month-wise', labels= 'Cured')
fig.show( )